{
    "plugins": [
        ["i18next-extract", {
            "outputPath": "src/translations/{{locale}}/{{ns}}.json",
            "locales": ["en", "nl"],
            "useI18nextDefaultValue": ["en", "nl"],
            "discardOldKeys": false
        }]
    ]
}
