:global(html, body) {
    margin: 0px;
}

:global(main) {
    padding-top: 6em;
    padding-bottom: 3em;
}

:global(main.jumbotron) {
    padding-top: 0em;
    padding-bottom: 0em;
}

/* Add compact option to Semantic UI Grid (https://github.com/Semantic-Org/Semantic-UI/issues/2968#issuecomment-414727481) */
:global(.ui.compact.grid .row:not(:first-child), .ui.grid .compact.row) {
    padding-top: 0;
}

:global(.ui.compact.grid .row:not(:last-child), .ui.grid .compact.row) {
    padding-bottom: 0;
}

:global(.ui.compact.grid .column:not(:first-child), .ui.grid .compact.row .column:not(:first-child), .ui.grid .compact.column) {
    padding-left: 0;
}

:global(.ui.compact.grid .column:not(:last-child), .ui.grid .compact.row .column:not(:last-child), .ui.grid .compact.column) {
    padding-right: 0;
}

/* Support icon groups in headers */
:global(.ui.header > .icons) {
    display: table-cell;
    opacity: 1;
    font-size: 1.5em;
    padding-top: 0;
    vertical-align: middle;
}

:global(.ui.header>.icons+.content) {
    padding-left: .75rem;
    display: table-cell;
    vertical-align: middle;
}

:global(.ui.menu.vertical-compact .item) {
    padding-top: 0.7em !important;
    padding-bottom: 0.7em !important;
}

:global(.ui.sidebar) {
    overflow-y: visible !important;
}

:global(.rainbow) {
    width: 18rem;
    height: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(90deg, #f00000, #f00000 16.67%, #ff8000 16.67%, #ff8000 33.33%, #ffff00 33.33%,#ffff00 50%, #007940 50%, #007940 66.67%, #4040ff 66.67%, #4040ff 83.33%, #a000c0 83.33%, #a000c0);
}

@media(max-width: 991px) {
    :global(.rainbow) {
        width: 15rem;
    }
}
