.sectionBlue {
    background-color: #bbebf9;
}

.rowIntro {
    padding: 5em 0em 3em 0em !important;
}

.row {
    padding: 2em 1em !important;
}

.logo {
    width: 500px;
    height: 500px;
    position: absolute !important;
    top: 250px;
    left: 50%;
    margin-left: -250px;
}

@media(max-width: 1199px) {
    .logo {
        width: 500px;
        height: 500px;
        top: 140px;
        margin-left: -250px;
    }
}

@media(max-width: 991px) {
    .logo {
        width: 360px;
        height: 360px;
        top: 140px;
        margin-left: -180px;
    }
}

@media(max-width: 767px) {
    .image {
        padding-top: 3.5em;
    }

    .logo {
        width: 60vw;
        height: 60vw;
        top: 15vw;
        margin-left: -30vw;
    }
}

@media(max-width: 479px) {
    .rowIntro {
        padding-top: 3em !important;
    }
}

@media(max-width: 359px) {
    .image {
        padding-top: 3.5em;
    }

    .logo {
        width: 70vw;
        height: 70vw;
        top: 10vw;
        margin-left: -35vw;
    }

    .rowIntro {
        padding-top: 3em !important;
    }
}
